In [3]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-

import os, sys

import os
from flask import Flask, render_template, abort, url_for, session
from flask.ext.sqlalchemy import SQLAlchemy
from flask.ext.script import Manager, Shell
from webapp import app, db, config_app,register_blueprints

reload(sys)
sys.setdefaultencoding('utf8')

manager = Manager(app, with_default_commands=False)

config_app(app, 'scriptfan.cfg')
register_blueprints(app)

ctx = app.app_context()
ctx.push()

In [4]:
from webapp.services import data_service as dts,db_service as dbs,holder_service as hs

In [5]:
from bs4 import  BeautifulSoup,BeautifulStoneSoup
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from flask import current_app as app
from webapp.services import db
from webapp.models import MyStock,Stock,data_item,Comment,FinanceBasic
import json
from datetime import datetime
import urllib2,re,html5lib
from pandas.tseries.offsets import * 
from webapp import functions as fn
from sqlalchemy import *

In [93]:
df = pd.DataFrame(
{'AAA' : [1,2,1,3], 'BBB' : [1,1,2,2], 'CCC' : [2,1,3,1]}); df

   AAA  BBB  CCC
0    1    1    2
1    2    1    1
2    1    2    3
3    3    2    1

In [94]:
df['eee'] = [2,3,4,5]
df

   AAA  BBB  CCC  eee
0    1    1    2    2
1    2    1    1    3
2    1    2    3    4
3    3    2    1    5