In [2]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-

import os, sys

import os
from flask import Flask, render_template, abort, url_for, session
from flask_sqlalchemy import SQLAlchemy
from flask_script import Manager, Shell
from webapp import app, db, config_app,register_blueprints

reload(sys)
sys.setdefaultencoding('utf8')

manager = Manager(app, with_default_commands=False)

config_app(app, 'scriptfan.cfg')
register_blueprints(app)

ctx = app.app_context()
ctx.push()

In [3]:
from webapp.services import data_service as dts,db_service as dbs,holder_service as hs

In [4]:
from bs4 import  BeautifulSoup,BeautifulStoneSoup
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from flask import current_app as app
from webapp.services import db
from webapp.models import MyStock,Stock,data_item,Comment,FinanceBasic
import json
from datetime import datetime
import urllib2,re,html5lib
from pandas.tseries.offsets import * 
from webapp import functions as fn
from sqlalchemy import *

In [5]:
latest_val = ''
code = '601872'

In [ ]:
dts.getMyStocks('0')

In [ ]:

headers = {'User-Agent': 'Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US; rv:1.9.1.6) Gecko/20091201 Firefox/3.5.6'}
url = "http://vip.stock.finance.sina.com.cn/corp/go.php/vCI_CirculateStockHolder/stockid/" + code + ".phtml"
req = urllib2.Request(url=url, headers=headers)
feeddata = urllib2.urlopen(req).read()
soup = BeautifulSoup(feeddata, "html5lib")
paper_name = soup.html.body.find(id="CirculateShareholderTable").tbody.find_all('tr')

report_date = []
holder_name = []
amount = []
rate = []
holder_type = []
holder_parent = []
rdate = ''
i = 0
for e in paper_name:
    t = e.find_all('td')
    s = e.find_all('strong')
    if len(s) > 0:
        if s[0].string == '截止日期':
            rdate = t[1].string
            i += 1
            if i ==1:
                latest_val = rdate

    if t[0].div:
        if t[0].div.string:
            if t[0].div.string.isdigit():
                hname = t[1].div.text
                report_date.append(rdate)
                holder_name.append(hname)
                amount.append(float(t[2].div.string))
                rate.append(float(t[3].div.string))
                holder_type.append(t[4].div.string)
                holder_parent.append(hname.split('-')[0])
df1 = pd.DataFrame({
    'code': code,
    'report_date': report_date,
    'holder_name': holder_name,
    'amount': amount,
    'rate': rate,
    'holder_type': holder_type,
    'holder_parent': holder_parent

})

In [ ]:
df1.head(3)

In [ ]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US; rv:1.9.1.6) Gecko/20091201 Firefox/3.5.6',
          'Cookie':'s=7t13cgixfx; webp=1; bid=8012070f13f8d2f9a87ebc5fe151d83a_itblxjb0; xq_a_token=a832ff16925428b9468f70da7f3419d365f2b3fc; xq_r_token=3e744ba514cfad3451cb3b5b01517ff4eed82086; u=7755034964; xq_token_expire=Fri%20Nov%2011%202016%2021%3A20%3A58%20GMT%2B0800%20(CST); xq_is_login=1; snbim_minify=true; Hm_lvt_1db88642e346389874251b5a1eded6e3=1477440176,1477440851,1477527873,1477962200; Hm_lpvt_1db88642e346389874251b5a1eded6e3=1477970186; __utmt=1; __utma=1.1743253318.1474382400.1477962202.1477968397.19; __utmb=1.3.10.1477968397; __utmc=1; __utmz=1.1477962202.18.14.utmcsr=localhost:5000|utmccn=(referral)|utmcmd=referral|utmcct=/stock/mystock/0',
          'Referer':'https://xueqiu.com/S/SH601872/LTGD'}
url = "https://xueqiu.com/S/SH" + code + "/LTGD"
req = urllib2.Request(url=url, headers=headers)
feeddata = urllib2.urlopen(req).read()
soup = BeautifulSoup(feeddata, "html5lib")
paper_name = soup.html.body.find("div",class_="companyDataShow") \
.find_all("table",class_='dataTable table table-bordered')

report_date = []
holder_name = []
amount = []
rate = []
holder_type = []
holder_parent = []
rdate = ''
i = 0
for e in paper_name:
    trs = e.tbody.find_all('tr')
    j = 0
    for e in trs:
        if j == 0:
            rdate = e.contents[1].string #截止日期
        elif j > 1:
            hname = e.contents[0].a.string
            report_date.append(rdate)
            holder_name.append(hname)
            amount.append(float(e.contents[2].div.string))
            rate.append(float(e.contents[3].div.string))
            holder_type.append(e.contents[4].div.string)
            holder_parent.append(hname.split('-')[0])
        j = j+1
        
    if i == 0:
       latest_val = rdate
    
df2 = pd.DataFrame({
    'code': code,
    'report_date': report_date,
    'holder_name': holder_name,
    'amount': amount,
    'rate': rate,
    'holder_type': holder_type,
    'holder_parent': holder_parent

})
df2.head(3)

In [ ]:
soup.html.body.find("div",class_="companyDataShow")

In [ ]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US; rv:1.9.1.6) Gecko/20091201 Firefox/3.5.6',
          'Cookie':'xq_a_token=a832ff16925428b9468f70da7f3419d365f2b3fc; xq_r_token=3e744ba514cfad3451cb3b5b01517ff4eed82086; u=7755034964; xq_token_expire=Fri%20Nov%2011%202016%2021%3A20%3A58%20GMT%2B0800%20(CST); xq_is_login=1; '}
url = "https://xueqiu.com/stock/f10/otsholder.json?symbol=SH601872&page=1&size=4"
req = urllib2.Request(url=url, headers=headers)
feeddata = urllib2.urlopen(req).read()
feeddata

In [ ]:
headers = {'X-Requested-With': 'XMLHttpRequest',
           'Referer': 'http://xueqiu.com/p/ZH010389',
           'User-Agent': 'Mozilla/5.0 (Windows NT 6.2; WOW64; rv:38.0) Gecko/20100101 Firefox/38.0',
           'Host': 'xueqiu.com',
           #'Connection':'keep-alive',
           #'Accept':'*/*',
           'cookie':'s=iabht2os.1dgjn9z; xq_a_token=02a16c8dd2d87980d1b3ddced673bd6a74288bde; xq_r_token=024b1e233fea42dd2e0a74832bde2c914ed30e79; __utma=1.2130135756.1433017807.1433017807.1433017807.1;'
           '__utmc=1; __utmz=1.1433017807.1.1.utmcsr=(direct)|utmccn=(direct)|utmcmd=(none); Hm_lvt_1db88642e346389874251b5a1eded6e3=1433017809; Hm_lpvt_1db88642e346389874251b5a1eded6e3=1433017809'}


url = "https://xueqiu.com/stock/f10/otsholder.json?symbol=SH601872&page=1&size=4"
req = urllib2.Request(url=url, headers=headers)
feeddata = urllib2.urlopen(req).read()
feeddata

In [ ]:
def pct_change_fix(x, attri): #解决基准值为负值的情况
    dt_1 = x
    dt_2 = (dt_1 - DateOffset(months=12)).date()  # 去年同期
    v1 = df[df['report_type'] == dt_1].get(attri)
    #v2 = df[df['report_type'] == dt_2].get(attri)
    v2 = df[attri].shift(periods=1, freq='Y', axis=0)
    if v2.empty:
        return None
    else:
        return (float(v1) - float(v2)) / abs(float(v2))

df = pd.read_sql_query("select * from stock_finance_data where code=%(name)s order by report_type",
                       db.engine, params={'name': code})
zyysr_ttm = pd.Series(df['report_type'].apply(pct_change_fix, args=('zyysr',)), name='zyysr_grow_rate')

In [ ]:
i = df['report_type'].map(lambda x: pd.to_datetime(x))
df2 = df.set_index(i)
df2.head(3)

In [ ]:
v2 = df2.shift(periods=24, freq='M')
v2.head(4)

In [ ]:
dt = pd.to_datetime('2009-06-30')
lastQuart = QuarterEnd().rollback(dt - DateOffset(days=1))
lastQuart

In [ ]:
code='002674'
url = 'http://quotes.money.163.com/service/zcfzb_000910.html'
tdf_2 = pd.read_csv(url)
tdf_2

In [ ]:
import http.cookiejar
#设置cookie
CookieJar = http.cookiejar.CookieJar()
CookieProcessor = urllib2.HTTPCookieProcessor(CookieJar)
opener = urllib2.build_opener(CookieProcessor)
urllib2.install_opener(opener)

headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.2; WOW64; rv:38.0) Gecko/20100101 Firefox/38.0'}
request = urllib2.Request('http://xueqiu.com',headers=headers)
httpf = opener.open(request)

url = "https://xueqiu.com/stock/f10/otsholder.json?symbol=SH601872&page=1&size=4"
req = urllib2.Request(url=url, headers=headers)
feeddata = urllib2.urlopen(req).read()
feeddata

In [ ]:
import json
fd = json.loads(feeddata)
fArray = []
fd['list']

In [ ]:
for e in fd['list']:
    fArray = fArray+e['list']
ndf = pd.DataFrame(fArray) 
ndf.head(3)

In [ ]:
df1 = pd.DataFrame({
        'code': code,
        'report_date': ndf['enddate'],
        'holder_name': ndf['shholdername'],
        'holder_code': ndf['shholdercode'],
        'amount': ndf['holderamt'],
        'rate': ndf['holderrto'],
        'holder_type': ndf['shholdertype'],
        'holder_nature': ndf['shholdernature']

    })
df1.head(5)

In [ ]:
df2 = pd.DataFrame({
        'code': code,
        'report_date': ndf['enddate'].map(lambda x: pd.to_datetime(x).strftime("%Y-%m-%d")),
        'holder_name': ndf['shholdername'],
        'holder_code': ndf['shholdercode'],
        'amount': ndf['holderamt'],
        'rate': ndf['holderrto'],
        'holder_type': ndf['shholdertype'],
        'holder_nature': ndf['shholdernature'],
        'holder_parent': ndf['shholdername'].map(lambda x: x.split('-')[0])

    })
df2.head(5)

In [ ]:
hdf = pd.read_sql_query("select code,report_date,holder_type,holder_name,rate,amount \
                                from stock_holder where code=%(name)s order by report_date desc", db.engine,\
                            params={'name': code})
dt = pd.to_datetime(x)
lastQuart = QuarterEnd().rollback(dt - DateOffset(days=1))  # 上一期

In [ ]:
url = "https://xueqiu.com/S/SH" + code + "/LTGD"
req = urllib2.Request(url=url, headers=headers)
feeddata = urllib2.urlopen(req).read()
soup = BeautifulSoup(feeddata, "html5lib")
paper_name = soup.html.body.find("div",class_="companyDataShow") \
.find_all("table",class_='dataTable table table-bordered')

report_date = []
holder_name = []
amount = []
rate = []
holder_type = []
holder_parent = []
rdate = ''
i = 0
for e in paper_name:
    trs = e.tbody.find_all('tr')
    j = 0
    for e in trs:
        if j == 0:
            rdate = e.contents[1].string #截止日期
        elif j > 1:
            hname = e.contents[0].a.string
            report_date.append(rdate)
            holder_name.append(hname)
            amount.append(float(e.contents[2].div.string))
            rate.append(float(e.contents[3].div.string))
            holder_type.append(e.contents[4].div.string)
            holder_parent.append(hname.split('-')[0])
        j = j+1
        
    if i == 0:
       latest_val = rdate
    
df2 = pd.DataFrame({
    'code': code,
    'report_date': report_date,
    'holder_name': holder_name,
    'amount': amount,
    'rate': rate,
    'holder_type': holder_type,
    'holder_parent': holder_parent

})
df2.head(3)

In [ ]:
report_date = ''
direction = ''
if report_date == '':
    sql = "select max(report_date) from stock_holder where code=:code";
    resultProxy = db.session.execute(text(sql), {'code': code})
    report_date = resultProxy.scalar()
    if (report_date == None):
        report_date = dbs.getStock(code).launch_date  # 取上市日期

dt = pd.to_datetime(report_date)
if direction == 'next':
    report_date = QuarterEnd().rollforward(dt + DateOffset(days=1))
submit_date = QuarterEnd().rollback(dt - DateOffset(days=1))
report_date.strftime('%Y-%m-%d')

In [ ]:
report_date= '2016-09-30'
direction = 'pre'
sql = "select max(report_date) from stock_holder where code=:code";
resultProxy = db.session.execute(text(sql), {'code': code})
_max_date = resultProxy.scalar()
if report_date == '':
    if (_max_date == None):
        _max_date = dbs.getStock(code).launch_date  # 取上市日期
    _next_date = pd.to_datetime(_max_date)
else:
    _next_date = pd.to_datetime(report_date)

if direction == 'next':
    if (_next_date.date()-_max_date).days <= 0:
        _next_date = QuarterEnd().rollforward(_next_date + DateOffset(days=1))
elif direction == 'pre':
    _next_date = QuarterEnd().rollback(_next_date - DateOffset(days=1))

In [ ]:

submit_date = QuarterEnd().rollback(_next_date - DateOffset(days=1))

hdf = pd.read_sql_query("select code,report_date,holder_type,holder_name,holder_code,rate,amount \
                                from stock_holder where code=%(name)s and report_date>=%(submit_date)s and report_date<=%(report_date)s \
                                order by report_date desc,rank asc", db.engine, \
                            params={'name': code, 'submit_date': submit_date, 'report_date': _next_date})
n_holder = pd.Series(hdf['holder_code'],name='holder_name_new')
hdf = pd.concat([hdf, n_holder], axis=1)

t2_df = hdf[:10]
t3_df = hdf[10:20]
m1_df = pd.merge(t2_df, t3_df, how='outer', on='holder_name_new')
m1_df

In [8]:
code = '600196'
gdf = pd.read_sql_query("select code,report_date,holder_type,holder_name,rate,amount \
                                from stock_holder where code=%(name)s", db.engine,\
                            params={'name': code})
gdf.head(3)

     code report_date holder_type   holder_name  rate     amount
0  600196  2003-12-31       ���������������  ������������������������������������  0.35  1325005.0
1  600196  2004-06-30        ������������           ���������  0.09   721668.0
2  600196  2003-12-31        ������������           ���������  0.47  1779072.0

In [15]:
gdf = gdf.sort_values(by='report_date', ascending=False)
agdf = gdf[gdf['holder_type'] != '自然人股']
a1gdf = agdf.groupby(['report_date','code'])

t1_gdf = a1gdf['rate'].agg({'size': np.size})
t1_gdf = t1_gdf.reset_index()
t2_gdf = a1gdf['rate'].agg({'sum': np.sum})
t2_gdf = t2_gdf.reset_index()

t1_gdf

   report_date    code  size
0   2003-12-31  600196   8.0
1   2004-06-30  600196   7.0
2   2004-09-30  600196   9.0
3   2004-12-31  600196  10.0
4   2005-03-31  600196  10.0
5   2005-06-30  600196  10.0
6   2005-09-30  600196  10.0
7   2005-12-31  600196  10.0
8   2006-03-31  600196  10.0
9   2006-06-30  600196  10.0
10  2006-09-30  600196   9.0
11  2006-12-31  600196  10.0
12  2007-03-31  600196  10.0
13  2007-06-30  600196   9.0
14  2007-09-30  600196   7.0
15  2007-12-31  600196   8.0
16  2008-03-31  600196  10.0
17  2008-06-30  600196  10.0
18  2008-09-30  600196  10.0
19  2008-12-31  600196  10.0
20  2009-03-31  600196  10.0
21  2009-06-30  600196  10.0
22  2009-09-30  600196  10.0
23  2009-12-31  600196  10.0
24  2010-03-31  600196  10.0
25  2010-06-30  600196  10.0
26  2010-09-30  600196  10.0
27  2010-12-31  600196  10.0
28  2011-03-31  600196  10.0
29  2011-06-30  600196  10.0
30  2011-09-30  600196  10.0
31  2011-12-31  600196  10.0
32  2012-03-31  600196  10.0
33  2012-06-30  600196  10.0
34  2012-09-30  600196  10.0
35  2012-12-31  600196  10.0
36  2013-03-31  600196  10.0
37  2013-06-30  600196  10.0
38  2013-09-30  600196  10.0
39  2013-12-31  600196  10.0
40  2014-03-31  600196  10.0
41  2014-06-30  600196  10.0
42  2014-09-30  600196  10.0
43  2014-12-31  600196  10.0
44  2015-03-31  600196  10.0
45  2015-06-30  600196  10.0
46  2015-09-30  600196  10.0
47  2015-12-31  600196  10.0
48  2016-03-31  600196  10.0
49  2016-06-30  600196  10.0
50  2016-09-30  600196  10.0

In [31]:
agdf = gdf[gdf['holder_type'] != '自然人股']
a1gdf = agdf.groupby(['report_date'])

t1_gdf = a1gdf['rate'].agg({'size': np.size})
t1_gdf = t1_gdf.reset_index()
t2_gdf = a1gdf['rate'].agg({'sum': np.sum})
t2_gdf = t2_gdf.reset_index()


t3_gdf = pd.merge(t1_gdf, t2_gdf, on='report_date')
t3_gdf = t3_gdf.sort_values(by='report_date', ascending=False).head(1)
t3_gdf['code']=code
bdf = pd.read_sql_query("select * from stock_basic where code =%(code)s", db.engine, params={'code': code})
t3_df = pd.merge(t3_gdf, bdf, on='code')
t3_df

,report_date,size,sum,code,id,name,zgb,ltgb,launch_date,latest_report,grow_type,desc,created_time
0,2016-09-30,10.0,65.63,600196,1940,复星医药,2.314075e+09,2.310121e+09,1998-08-07,2016-06-30,B,,2016-07-19 22:21:24

In [33]:
m2_df = pd.DataFrame({
        'code': t3_df.code,
        'name': t3_df['name'],
        'report_date': t3_df.report_date,
        'count': t3_df['size'],
        'sum': t3_df['sum']
    })
if not m2_df.empty:
    for row_index, row in m2_df.iterrows():
        sql = text("delete from stock_holder_sum  where code =:code")
        result = db.session.execute(sql,{'code': row.code})
    m2_df.to_sql('stock_holder_sum', db.engine, if_exists='append', index=False, chunksize=1000)
    global group_stockholder_rate
    group_stockholder_rate = None

In [ ]:
    agdf = gdf[gdf['holder_type'] != '自然人股']
    a1gdf = agdf.groupby(['code'])

    t1_gdf = a1gdf['rate'].agg({'size': np.size})
    t1_gdf = t1_gdf.reset_index()
    t2_gdf = a1gdf['rate'].agg({'sum': np.sum})
    t2_gdf = t2_gdf.reset_index()
    t3_gdf = gdf.drop_duplicates(['code'])

    t3_gdf = pd.merge(t3_gdf, t2_gdf, on='code')
    t3_gdf = pd.merge(t3_gdf, t1_gdf, on='code')

    bdf = pd.read_sql_query("select * from stock_basic sb ", db.engine)
    t3_df = pd.merge(t3_gdf, bdf, on='code')

    m2_df = pd.DataFrame({
        'code': t3_df.code,
        'name': t3_df['name'],
        'report_date': t3_df.report_date,
        'count': t3_df['size'],
        'sum': t3_df['sum']})
    m2_df

In [ ]:
t3_gdf = gdf.drop_duplicates(['code'])
t3_gdf