In [2]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-

import os, sys

import os
from flask import Flask, render_template, abort, url_for, session
from flask.ext.sqlalchemy import SQLAlchemy
from flask.ext.script import Manager, Shell
from webapp import app, db, config_app,register_blueprints

reload(sys)
sys.setdefaultencoding('utf8')

manager = Manager(app, with_default_commands=False)

config_app(app, 'scriptfan.cfg')
register_blueprints(app)

ctx = app.app_context()
ctx.push()

In [3]:
from webapp.services import data_service as dts,db_service as dbs

In [4]:
from bs4 import  BeautifulSoup,BeautifulStoneSoup
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from flask import current_app as app
from webapp.services import db
from webapp.models import MyStock,Stock,data_item,Comment,FinanceBasic
import json
from datetime import datetime
import urllib2,re,html5lib
from pandas.tseries.offsets import * 
from webapp import functions as fn
from sqlalchemy import *

In [43]:
code = '000910'
#历史估值。获得每个月最后一天的总市值
#获取交易数据
tdf = pd.read_sql_query("select "
                        "trade_date,close,volume,t_cap,m_cap "
                        "from stock_trade_data "
                        "where code=%(name)s",
                        db.engine, params={'name': code}).dropna(axis=0)
i = tdf['trade_date'].map(lambda x: pd.to_datetime(x))
tdf = tdf.set_index(i)
gdf = tdf.groupby([pd.TimeGrouper(freq='M')])
agdf = gdf['trade_date'].agg({'max': np.max})
df1 = tdf.iloc[tdf.index.isin(agdf['max'])]
tdf =df1
df1.head(10)

            trade_date  close     volume       t_cap       m_cap
trade_date
2016-08-11  2016-08-11  16.50   66946229  8703750000  8703750000
2016-07-29  2016-07-29  16.58   66933311  8745950000  8745950000
2016-06-30  2016-06-30  15.45  120955779  8149875000  8149875000
2016-05-31  2016-05-31  13.72   56116436  7237300000  7237300000
2016-04-29  2016-04-29  12.93   35122440  6820575000  6820575000
2016-03-31  2016-03-31  14.63   98673447  7717325000  7717325000
2016-02-29  2016-02-29  14.50   98821228  7648750000  7648750000
2016-01-29  2016-01-29  12.61   99063684  6651775000  6651775000
2015-12-31  2015-12-31  16.54  102445634  8724850000  8724850000
2015-11-30  2015-11-30  18.89  656419589  9964475000  9964475000

In [40]:
df = pd.read_sql_query(
        "select code,report_type,zyysr,zyysr_ttm,kjlr,jlr,jlr_ttm,jyjxjl,jyjxjl_ttm,xjjze,roe \
        from stock_finance_data \
        where code=%(name)s",
        db.engine, params={'name': code})
i = df['report_type'].map(lambda x: pd.to_datetime(x))
df3 = df.set_index(i)
sdf = df3.sort_index(ascending=False)
sdf

,code,report_type,zyysr,zyysr_ttm,kjlr,jlr,jlr_ttm,jyjxjl,jyjxjl_ttm,xjjze,roe
report_type,,,,,,,,,,,
2016-03-31,000910,2016-03-31,110896,718558,2813,2938,32328,-7781,147474,-74959,1.27
2015-12-31,000910,2015-12-31,767670,767670,25772,31790,31790,148755,148755,22569,11.50
2015-09-30,000910,2015-09-30,580287,819184,12309,15494,23730,68218,135556,-14191,5.77
2015-06-30,000910,2015-06-30,362908,832509,6233,7108,18638,41579,131702,27645,2.69
2015-03-31,000910,2015-03-31,160008,849868,2076,2400,16667,-6500,127806,-30394,0.91
2014-12-31,000910,2014-12-31,843968,843968,16121,16355,16355,106395,106395,-40317,6.35
2014-09-30,000910,2014-09-30,605071,850344,7511,8119,15140,39057,125005,-63167,3.20
2014-06-30,000910,2014-06-30,374367,841692,4425,4825,14491,16272,124164,-42312,1.91
2014-03-31,000910,2014-03-31,154108,827857,2015,2088,13271,-27911,117204,-79621,0.83
2013-12-31,000910,2013-12-31,818980,818980,13260,13043,13043,120616,120616,44239,5.39
2013-09-30,000910,2013-09-30,573707,817124,5596,6022,11779,34668,77259,-123,2.52
2013-06-30,000910,2013-06-30,351655,817518,3329,3377,11587,12724,80307,13209,1.42
2013-03-31,000910,2013-03-31,145231,826695,1826,1860,11673,-24499,92581,-24809,0.77
2012-12-31,000910,2012-12-31,831252,831252,12045,12390,12390,107205,107205,24851,5.36
2012-09-30,000910,2012-09-30,587835,839677,0,6633,7997,64614,103236,53055,2.90
2012-06-30,000910,2012-06-30,365389,797939,3520,4180,10206,39622,78077,24816,1.84
2012-03-31,000910,2012-03-31,149788,759069,0,2577,12035,-9875,56501,5805,1.14
2011-12-31,000910,2011-12-31,731266,731266,9762,14014,14014,20274,20274,-27681,6.34
2011-09-30,000910,2011-09-30,479424,691114,0,12650,16168,-18348,23047,-29208,5.69
2011-06-30,000910,2011-06-30,298716,696727,7783,7988,17880,-18181,56581,-38899,3.61
2011-03-31,000910,2011-03-31,121985,692832,0,4556,19386,-46102,45284,-54009,2.08
2010-12-31,000910,2010-12-31,692072,692072,17953,18907,18907,67225,67225,43065,9.11
2010-09-30,000910,2010-09-30,480382,709545,0,15389,22958,25830,111554,24540,7.48
2010-06-30,000910,2010-06-30,294061,700605,8826,9015,21474,-7537,84267,27590,4.45
2010-03-31,000910,2010-03-31,121225,661796,0,4077,20982,-24161,113104,9850,2.04
2009-12-31,000910,2009-12-31,642693,642693,19451,20560,20560,117227,117227,13565,9.62
2009-09-30,000910,2009-09-30,413530,557564,0,12991,19299,31503,75056,65063,0.00
2009-06-30,000910,2009-06-30,236149,547354,7373,8101,18925,25423,92344,9912,4.02
2009-03-31,000910,2009-03-31,102122,553839,0,3655,19758,-20038,83070,20399,0.00
2008-12-31,000910,2008-12-31,560000,560000,20484,20044,20044,87050,87050,-28491,10.37
...,...,...,...,...,...,...,...,...,...,...,...
2008-03-31,000910,2008-03-31,108283,576859,0,3941,21630,-16058,44074,-37261,0.00
2007-12-31,000910,2007-12-31,566374,566374,22091,21562,21562,39711,39711,41203,13.35
2007-09-30,000910,2007-09-30,393104,545283,0,14000,20476,4889,51071,36713,0.00
2007-06-30,000910,2007-06-30,235038,493813,8261,8404,19057,-8945,44272,33524,5.85
2007-03-31,000910,2007-03-31,97798,456510,0,3873,17424,-20421,44660,48837,0.00
2006-12-31,000910,2006-12-31,405468,405468,14774,14881,14881,59817,59817,17157,13.44
2006-09-30,000910,2006-09-30,253289,329842,0,8405,9635,13635,22096,-3286,0.00
2006-06-30,000910,2006-06-30,146693,286299,4151,4228,6855,6600,17031,491,4.01
2006-03-31,000910,2006-03-31,46756,246132,0,1330,5266,-5264,8758,-11982,0.00
2005-12-31,000910,2005-12-31,239215,239215,5228,5176,5176,10995,10995,2979,5.07
2005-09-30,000910,2005-09-30,162662,225324,0,3946,6327,2534,1698,5810,0.00
2005-06-30,000910,2005-06-30,99609,206305,2521,2549,6161,564,6843,275,2.50
2005-03-31,000910,2005-03-31,39839,192911,0,1240,6033,-3027,8213,140,0.00
2004-12-31,000910,2004-12-31,183844,183844,6122,6027,6027,7579,7579,4567,6.21
2004-09-30,000910,2004-09-30,121182,172485,0,3646,6731,8415,14059,9772,0.00
2004-06-30,000910,2004-06-30,77148,166641,2381,2415,6836,1300,7616,-2772,2.54
2004-03-31,000910,2004-03-31,30772,162019,0,1234,6896,-3661,11513,502,0.00
2003-12-31,000910,2003-12-31,159337,159337,6730,6752,6752,6681,6681,5153,7.43
2003-09-30,000910,2003-09-30,108034,136774,0,3667,6728,1037,12809,417,0.00
2003-06-30,000910,2003-06-30,69844,121173,2353,2331,6637,365,11847,996,2.63
2003-03-31,000910,2003-03-31,28090,94951,0,1090,6467,-8493,0,1108,0.00
2002-12-31,000910,2002-12-31,78520,78520,6175,6217,6217,11772,11772,-3851,7.33
2002-09-30,000910,2002-09-30,49780,49780,3147,3156,3156,0,0,0,3.89
2002-06-30,000910,2002-06-30,27191,57035,1891,1911,5671,290,7272,-13378,2.37
2002-03-31,000910,2002-03-31,11659,11659,0,840,840,0,0,0,0.00
2001-12-31,000910,2001-12-31,53489,53489,5523,5653,5653,9157,9157,7360,7.08
2001-06-30,000910,2001-06-30,23645,51842,1744,1893,5805,2175,4334,3416,2.39
2000-12-31,000910,2000-12-31,43055,43055,5060,5776,5776,4674,4674,-6219,7.38
2000-06-30,000910,2000-06-30,14858,37189,1862,1864,6210,2515,0,989,0.00
1999-12-31,000910,1999-12-31,36270,36270,6387,6826,6826,-1934,-1934,21016,0.00

In [97]:
def getRevence(x, attri):
    dt = x
    sdate = dt - DateOffset(days=1)  + QuarterEnd()
    mg_val = sdf[sdf.index == sdate][attri]
    if not mg_val.empty:  # 如果没数值，取上一季度
        return mg_val.iat[0]
    else:
        return pd.NaT

def getBillDate(x, attri):
    dt = x
    sdate = dt - DateOffset(days=1) + QuarterEnd()
    
    return sdate

df1= pd.DataFrame({
    'trade_date': tdf['trade_date'].apply(getBillDate, args=('jlr_ttm',)),
    'close': tdf['close'],
    't_cap': tdf['t_cap'],
    'm_cap': tdf['m_cap'],
    'jlr_ttm': tdf['trade_date'].apply(getRevence, args=('jlr_ttm',))})
df1 = df1.fillna(method='bfill')
df1.head(10)

,close,jlr_ttm,m_cap,t_cap,trade_date
trade_date,,,,,
2016-08-11,16.50,1970-01-01 00:00:00.000032328,8703750000,8703750000,2016-09-30
2016-07-29,16.58,1970-01-01 00:00:00.000032328,8745950000,8745950000,2016-09-30
2016-06-30,15.45,1970-01-01 00:00:00.000032328,8149875000,8149875000,2016-06-30
2016-05-31,13.72,1970-01-01 00:00:00.000032328,7237300000,7237300000,2016-06-30
2016-04-29,12.93,1970-01-01 00:00:00.000032328,6820575000,6820575000,2016-06-30
2016-03-31,14.63,1970-01-01 00:00:00.000032328,7717325000,7717325000,2016-03-31
2016-02-29,14.50,1970-01-01 00:00:00.000032328,7648750000,7648750000,2016-03-31
2016-01-29,12.61,1970-01-01 00:00:00.000032328,6651775000,6651775000,2016-03-31
2015-12-31,16.54,1970-01-01 00:00:00.000031790,8724850000,8724850000,2015-12-31
2015-11-30,18.89,1970-01-01 00:00:00.000031790,9964475000,9964475000,2015-12-31

In [94]:
dt = dt = pd.to_datetime('2004-04-29')
sdate = dt - DateOffset(days=1)  + QuarterEnd()
mg_val = sdf[sdf.index == sdate]
mg_val['jlr'].iat[0]

2415.0

In [37]:
tdf['trade_date']
dt = pd.to_datetime('2004-06-30 00:00:00')
sdate = dt + QuarterEnd()
sdate

Timestamp('2004-09-30 00:00:00')

In [13]:
sdf.index

DatetimeIndex(['2016-03-31', '2015-12-31', '2015-09-30', '2015-06-30',
               '2015-03-31', '2014-12-31', '2014-09-30', '2014-06-30',
               '2014-03-31', '2013-12-31', '2013-09-30', '2013-06-30',
               '2013-03-31', '2012-12-31', '2012-09-30', '2012-06-30',
               '2012-03-31', '2011-12-31', '2011-09-30', '2011-06-30',
               '2011-03-31', '2010-12-31', '2010-09-30', '2010-06-30',
               '2010-03-31', '2009-12-31', '2009-09-30', '2009-06-30',
               '2009-03-31', '2008-12-31', '2008-09-30', '2008-06-30',
               '2008-03-31', '2007-12-31', '2007-09-30', '2007-06-30',
               '2007-03-31', '2006-12-31', '2006-09-30', '2006-06-30',
               '2006-03-31', '2005-12-31', '2005-09-30', '2005-06-30',
               '2005-03-31', '2004-12-31', '2004-09-30', '2004-06-30'],
              dtype='datetime64[ns]', name=u'report_type', freq=None)

In [ ]:
def fixNaN(x):
    return 0 if x=='--' else x

def getRevence(x, attri):
    dt = pd.to_datetime(x)
    s_dt = tdf[tdf['index'] == dt.strftime('%Y-%m-%d')]
    lastYearEnd = YearEnd().rollback(dt)# 去年年底
    s_lye = tdf[tdf['index'] == lastYearEnd.strftime('%Y-%m-%d')]
    lastYearQuart = dt - DateOffset(months=12)#去年同期
    s_lyq = tdf[tdf['index'] == lastYearQuart.strftime('%Y-%m-%d')]
    app.logger.debug(
        dt.strftime('%Y-%m-%d') + ':' + lastYearEnd.strftime('%Y-%m-%d') + ':' + lastYearQuart.strftime(
            '%Y-%m-%d'))
    v1 = s_dt.get(attri)
    
    if dt.quarter != 4:
        v2 = s_lye.get(attri)
        v3 = s_lyq.get(attri)
        if v2.empty or v3.empty:
            v2 = 0
            v3 = 0
    else:
        v2 = 0
        v3 = 0
    try:    
        return int(v1)+(int(v2)-int(v3))
    except Exception, ex:
        app.logger.error(ex)
        return 0

df = pd.DataFrame({
        'report_type': tdf['index'],
        'zyysr': tdf[3].apply(fixNaN),
        'zyysr_ttm': tdf['index'].apply(getRevence, args=(3,)),
        'zyylr': tdf[4].apply(fixNaN),
        'yylr': tdf[5].apply(fixNaN),
        'jlr': tdf[9].apply(fixNan),
        'jlr_ttm': tdf['index'].apply(getRevence, args=(9,)),
        'kjlr': tdf[10].apply(fixNaN),
        'jyjxjl': tdf[11].apply(fixNaN),
        'jyjxjl_ttm': tdf['index'].apply(getRevence, args=(11,)),
        'xjjze': tdf[12].apply(fixNaN),
        'zzc': tdf[13].apply(fixNaN),
         'ldzc': tdf[14].apply(fixNaN),
         'zfz': tdf[15].apply(fixNaN),
         'ldfz': tdf[16].apply(fixNaN),
        'gdqy': tdf[17].apply(fixNaN),
        'roe': tdf[18].apply(fixNaN),
        'code': code
    })
#df.to_sql('stock_finance_data', db.engine, if_exists='append', index=False, chunksize=1000)
df = df.set_index('report_type')
#df.loc['2016-03-31':'2014-09-30']
df

In [ ]:
#获得开始日期
sql = "select max(report_type) from stock_finance_data where code=:code";
resultProxy = db.session.execute(text(sql), {'code': code})
s_date = resultProxy.scalar()
if (s_date == None):
    s_date = dbs.getStock(code).launch_date #取上市日期
    
sd = df.index.max()
ed = (s_date+ DateOffset(days=1)).date().strftime('%Y-%m-%d')

df.loc[sd:ed].reset_index()

In [ ]:
def getRevence(x,attri):
    dt = pd.to_datetime(x)
    sdate = dt + QuarterEnd()
    mgsy = sdf[sdf.index==sdate].get(attri)
    if(len(mgsy.values)==0): #如果没数值，取上一季度
        sdate = dt - QuarterEnd()
        print sdate
        mgsy = sdf[sdf.index==sdate].get(attri)
        #如果缺少值或者为0
        if(len(mgsy.values)==0):
            mgsy = pd.Series([100]) #作为坏数据沉没
    return mgsy.values[0]

def getReportType(x):
    dt = pd.to_datetime(x)
    sdate = dt + QuarterEnd()
    return sdate

df1 = pd.DataFrame({
        'trade_date':df['Date'],
        'close':df['Close'],
        'volume':df['Volume'],
        'adj_close':df['Adj Close'],
        'report_type':df['Date'].apply(getReportType),
        'mgsy':df['Date'].apply(getRevence,args=('mgsy_ttm',)),
        'mgjzc':df['Date'].apply(getRevence,args=('mgjzc',)),
        'mgjyxjl':df['Date'].apply(getRevence,args=('mgjyxjl_ttm',)),
        'code':code
    })
df1.set_index('trade_date')

In [ ]:
#sdf.index[(sdf.index.year=='2010') & (sdf.index.month=='1')]
dt = pd.to_datetime('2015-12-31')
sdate = dt + QuarterEnd()
abc = 
abc

In [ ]:
code = '000525'
sql = "select max(report_type) from stock_finance_basic where code=:code";
resultProxy = db.session.execute(text(sql), {'code': code})
s_date = resultProxy.scalar()
if (s_date == None):
    s_date = '2000.01.01' #获得2000年以来的所有会计年度

index = pd.date_range(s_date, datetime.today(), freq='Q')
periods = [x.strftime('%Y.%m.%d') for x in index]
periods = periods[8:9]

In [ ]:
df = pd.DataFrame()
for x in periods:
    fb = db.session.query(FinanceBasic).filter_by(code=code, report_type=x).first()
    if (not fb):
        fd = dts.findFinanceData(code, x)
        if not fd.empty:
            df = df.append(fd)
df

In [ ]:
headers = {'User-Agent':'Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US; rv:1.9.1.6) Gecko/20091201 Firefox/3.5.6'}
url = "http://stockdata.stock.hexun.com/2008/zxcwzb.aspx?stockid="+code+"&accountdate="+'2002.03.15'
app.logger.info('query stock(' + code + ') finance data url is:' + url)
req = urllib2.Request(url =url,headers = headers)
feeddata = urllib2.urlopen(req).read()
soup = BeautifulSoup(feeddata, "html5lib")

In [ ]:
#paper_name = soup.html.body.find(id="zaiyaocontent").table.find_all('tr')
paper_name = soup.html.body.find(id="zaiyaocontent").table.tbody.find_all('tr')
paper_name

In [ ]:
#起始日期
code='700000'
sql="select max(trade_date) from stock_trade_basic where code=:code";
resultProxy=db.session.execute(text(sql),{'code':code})
mdate = resultProxy.scalar()
if (mdate==None):
    mdate = datetime(2000, 1, 1)
mdate.year

In [ ]:
#结束日期。当前日期上月最后一天
#sdate = datetime.now() - DateOffset(days=1)
sdate = datetime.now() - MonthEnd()
sdate

In [ ]:
sdate = MonthEnd().rollback(datetime.now())

#"%02d" % sdate.month


sdate.strftime("%y")

In [ ]:
flag = '1'
df = pd.read_sql_query("select code,name,market from my_stocks where flag=%(flag)s", db.engine, \
                           index_col='code', params={'flag': flag})
df1 = dbs.getPerStockPrice(df)
df2 = dbs.getPerStockRevenue()
df3 = pd.concat([df1,df2],axis=1,join='inner')
df = df.reset_index()
df4 = pd.merge(df,df3,how='left')
df4

In [ ]:
df = pd.read_sql_query("select * from my_stocks where flag=%(flag)s", db.engine, \
                           index_col='code', params={'flag': flag})

In [ ]:
df2

In [ ]:
index = pd.date_range('2000-1-1', datetime.today(), freq='Q')
periods = [x.strftime('%Y.%m.%d') for x in index]

df = pd.DataFrame()
for x in periods:
    fb = db.session.query(FinanceBasic).filter_by(code=code,report_type=x).first()
    if(not fb):
        fd = dts.findFinanceData(code, x)
        if not fd.empty:
            df = df.append(fd)



if df.size > 0:
    df.columns = ['code', 'report_type', 'yysr', 'jlr', 'lrze', 'kjlr', 'zzc', 'gdqy', 'jyjxjl', 'mgsy', 'roe',
                  'mgjyxjl', 'mgjzc']
    tpd = pd.DataFrame({
            'mgsy_ttm':'',
            'mgjyxjl_ttm':''
        },index=df.index)

    df1 = pd.concat([df,tpd],axis=1)

    df1.size

    #df = calculateTTMValue(df,code)

df2 = dts.calculateTTMValue(df1,code)
df2

In [ ]:
code = '000418'
df = dbs.get_revenue_df(code)
df

In [ ]:
tdate = df.index[df.index.quarter==4]
df4 = df.iloc[df.index.isin(tdate)]
df4

In [ ]:
df4.to_json(orient="records")

In [ ]:
code = '000910'
yysr = [] #营业收入
jlr = [] #净利润
jyjxjl = [] #经营性净现金流
gdqy = [] #股东权益
df = dbs.get_year_stock_revenue(code)
for index, row in df.iterrows():
    yysr.append(fn.get_data_array(row['report_type'],row['yysr']))
    jlr.append(fn.get_data_array(row['report_type'],row['kjlr']))
    jyjxjl.append(fn.get_data_array(row['report_type'],row['jyjxjl']))
    gdqy.append(fn.get_data_array(row['report_type'],row['gdqy']))
df

In [ ]:
#获得最近5年的时间
latest_date = df3.iat[0,1]
now = pd.to_datetime(latest_date)
#最近
in_df_date = pd.date_range(end=now.strftime('%Y-%m-%d'), periods=4, freq='Q')
df1 = df3.iloc[df3.index.isin(in_df_date)]
#去年同期
now = now - DateOffset(months=12)
in_df_date = pd.date_range(end=now.strftime('%Y-%m-%d'), periods=4, freq='Q')
df2 = df3.iloc[df3.index.isin(in_df_date)]
#前年同期
now = now - DateOffset(months=12)
in_df_date = pd.date_range(end=now.strftime('%Y-%m-%d'), periods=4, freq='Q')
df4 = df3.iloc[df3.index.isin(in_df_date)]

In [ ]:
abc='[]'
import json
json.loads(abc)

In [ ]:
df2

In [ ]:
df4

In [ ]:
import time,datetime
# date to str
#time.strftime("%Y-%m-%d", datetime.date(1972, 10, 16))
datetime.date(1972, 10, 16).strftime("%Y-%m-%d")

In [ ]:
df3

In [ ]:
code='000418'
period='2005.01.31'

#url = "http://stockdata.stock.hexun.com/2008/zxcwzb.aspx?stockid="+code+"&accountdate="+period
url = "http://stockdata.stock.hexun.com/2008/zxcwzb.aspx?stockid=000418&accountdate=2015.09.30"
req = urllib2.Request(url =url,headers = dts.headers)
feeddata = urllib2.urlopen(req).read()
#soup = BeautifulSoup(feeddata, "lxml")
#paper_name = soup.html.body.find(id="zaiyaocontent").table.find_all('tr')
#paper_name

In [ ]:
#计算期望日期
#对应的季度
ts = pd.to_datetime('20130117')
q = 4-ts.quarter

if ts.month < 12:
    y = ts.year -1

month = q*3
year = ts.year
ts
#

In [ ]:
from datetime import datetime
ts2 = datetime(ts.year-1,ts.month,ts.day)
pd.to_datetime(ts2)

In [ ]:
from werkzeug.contrib.cache import SimpleCache
cache = SimpleCache()

In [ ]:
url = "http://stockdata.stock.hexun.com/000418.shtml"
req = urllib2.Request(url =url)
urllib2.urlopen(req).read()
req

In [ ]:
import urllib 
def url_proxies():
    proxylist = (  '211.167.112.14:80',  '210.32.34.115:8080',  '115.47.8.39:80',  '211.151.181.41:80',  '219.239.26.23:80',  )
    for proxy in proxylist:  
        proxies = {'': proxy}  
        opener = urllib.FancyURLopener(proxies)  
        f = opener.open("http://www.dianping.com/shanghai")  
        f.read()

In [ ]:
import urllib2
proxy_support = urllib2.ProxyHandler({'http':'http://210.32.34.115:8080'})
opener = urllib2.build_opener(proxy_support, urllib2.HTTPHandler)
urllib2.install_opener(opener)
content = urllib2.urlopen('http://stockdata.stock.hexun.com/000418.shtml').read()
content

In [ ]:
req = urllib2.Request(url =url,headers = dts.headers)
#feeddata = urllib2.urlopen(req).read()

In [ ]:
b

In [ ]:
b.year

In [ ]:
b.is_year_end

In [ ]:
str = 'sh600309,sh600660'
url = "http://hq.sinajs.cn/list=" + str
req = urllib2.Request(url)
res_data = urllib2.urlopen(req).read()

In [ ]:
res_data

In [ ]:
st_valus = []
q_st_codes = ['sh600309','sh600660']
st_codes = []
for st in q_st_codes:
    regex = r'var hq_str_' + st + '="(.*)".*'
    match = re.search(regex, res_data, re.M).group(1)
    trade_data = match.split(',')
    st_valus.append(round(float(trade_data[3]), 2))
    st_codes.append(st[2:])
ps = pd.DataFrame(st_valus,index=st_codes)  
ps

In [ ]:
df = pd.read_sql_query("select code,report_type,mgsy_ttm,mgjzc,mgjyxjl_ttm from stock_finance_basic", db.engine)
i = df['report_type'].map(lambda x: pd.to_datetime(x))
df = df.set_index(i)
df = df.sort_index(ascending=False)

df = df.groupby([df['code']]).first()
df = df.reset_index()
df.set_index(df['code'])

In [ ]:
df = pd.read_excel('http://www.szse.cn/szseWeb/ShowReport.szse?SHOWTYPE=xlsx&CATALOGID=1110&tab2PAGENUM=1&ENCODE=1&TABKEY=tab2')
#ps = pd.Series('600000')
df

In [ ]:
df = pd.read_excel('SZ_A.xlsx')
df.head(2)

In [ ]:
df = pd.read_excel('SZ_A.xlsx')
#ps = pd.Series('600000')
df1 = pd.DataFrame({
        'code':df.iloc[:,5].apply(lambda x: "%06d"%x),
        'name':df.iloc[:,6],
        'launch_date':df.iloc[:,7],
        'zgb':df.iloc[:,8].apply(lambda x: x.replace(',','')),
        'ltgb':df.iloc[:,9].apply(lambda x: x.replace(',',''))
    })
df1.head(2)
df1.to_sql('stock_basic', db.engine, if_exists='append', index=False, chunksize=1000)

In [ ]:
df = pd.read_excel('SH_A.xlsx')
#ps = pd.Series('600000')
df2 = pd.DataFrame({
        'code':df.iloc[:,2].apply(lambda x: "%06d"%x),
        'name':df.iloc[:,3],
        'launch_date':df.iloc[:,4],
        'zgb':df.iloc[:,5].apply(lambda x: x*10000),
        'ltgb':df.iloc[:,6].apply(lambda x: x*10000)
    })
df2.head(2)
df2.to_sql('stock_basic', db.engine, if_exists='append', index=False, chunksize=1000)

In [ ]:
headers = {'User-Agent':'Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US; rv:1.9.1.6) Gecko/20091201 Firefox/3.5.6'}

code = '000563'
    
period = re.sub('03.31', '03.15', '2016.03.31')
url = "http://vip.stock.finance.sina.com.cn/corp/go.php/vCI_CirculateStockHolder/stockid/"+code+".phtml"
req = urllib2.Request(url =url,headers = headers)
feeddata = urllib2.urlopen(req).read()
soup = BeautifulSoup(feeddata, "html5lib")
#feeddata
paper_name = soup.html.body.find(id="CirculateShareholderTable").tbody.find_all('tr')

In [ ]:
report_date=[]
holder_name=[]
amount=[]
rate=[]
holder_type=[]
holder_parent=[]
rdate = ''
for e in paper_name:
    t = e.find_all('td')
    s = e.find_all('strong')
    if len(s) > 0 :
        if s[0].string=='截止日期':
            rdate = t[1].string
            print rdate
            
    if t[0].div:
        if t[0].div.string:
            if t[0].div.string.isdigit():
                hname = t[1].div.text
                print t[0].div.text+':'+hname

In [ ]:
df1 = pd.DataFrame({
        'code':code,
        'report_date':report_date,
        'holder_name':holder_name,
        'amount':amount,
        'rate':rate,
        'holder_type':holder_type,
        'holder_parent':holder_parent
        
    })
df1.to_sql('stock_holder', db.engine, if_exists='append', index=False, chunksize=1000)
df1

In [ ]:
#st = db.session.query(Stock).filter(Stock.code = code).first()

db.session.query(Stock).filter(Stock.latest_report < '2016-03-31').all()

#st = db.session.query(Stock).filter(Stock.latest_report < report_type).all()

In [ ]:
#参考证券法，年报数据在次年4月底前，1季度报在4月28号前，半年报在8月31号前，3季度报在10月30号前
#更新后更新报告日期，更新数据时提供报告类型，剔除已经获得公告数据的股票

sql = "select max(report_date) from stock_holder where code=:code";
resultProxy = db.session.execute(text(sql), {'code': code})
s_date = resultProxy.scalar()
if (s_date == None):
    
#旧股，通过网络检索比较。如有最新数据则更新。
#最新数据如果和已有数据相等，说明未更新，直接跳过；否则，用最新的一期数据更新。暂未实现

In [ ]:
pow(10,3)

In [ ]:
pow(1000,1.0/3)

In [ ]:
#比如,三年利润复合增长率=[(年末利润总额/三年前年末利润总额）^1/3 -1)] x100% 
#实例：某公司04年净利2万元，07年净利16万元，则04-07年的复合增长为16/2 ，然后再开3次方根，再减1，再乘100％。”