In [1]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-

import os, sys

import os
from flask import Flask, render_template, abort, url_for, session
from flask.ext.sqlalchemy import SQLAlchemy
from flask.ext.script import Manager, Shell
from webapp import app, db, config_app,register_blueprints

reload(sys)
sys.setdefaultencoding('utf8')

manager = Manager(app, with_default_commands=False)

config_app(app, 'scriptfan.cfg')
register_blueprints(app)

ctx = app.app_context()
ctx.push()

In [2]:
from webapp.services import data_service as dts,db_service as dbs

In [3]:
from bs4 import  BeautifulSoup,BeautifulStoneSoup
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from flask import current_app as app
from webapp.services import db
from webapp.models import MyStock,Stock,data_item,Comment,FinanceBasic
import json
from datetime import datetime
import urllib2,re,html5lib
from pandas.tseries.offsets import * 
from webapp import functions as fn
from sqlalchemy import *

In [ ]:
group_stockholder_rate = pd.DataFrame()
group_stockholder_rate is None

In [ ]:
code = '000910'
#历史估值。获得每个月最后一天的总市值
#获取交易数据
tdf = pd.read_sql_query("select "
                        "trade_date,close,volume,t_cap,m_cap "
                        "from stock_trade_data "
                        "where code=%(name)s",
                        db.engine, params={'name': code}).dropna(axis=0)
i = tdf['trade_date'].map(lambda x: pd.to_datetime(x))
tdf = tdf.set_index(i)
gdf = tdf.groupby([pd.TimeGrouper(freq='M')])
agdf = gdf['trade_date'].agg({'max': np.max})
df1 = tdf.iloc[tdf.index.isin(agdf['max'])]
tdf =df1
df1.head(10)

In [ ]:
df = pd.read_sql_query(
    "select code,report_type,zyysr,zyysr_ttm,kjlr,jlr,jlr_ttm,jyjxjl,jyjxjl_ttm,xjjze,roe,gdqy \
    from stock_finance_data \
    where code=%(name)s",
    db.engine, params={'name': code})
#i = df['report_type'].map(lambda x: pd.to_datetime(x))
df3 = df.set_index('report_type')
sdf = df3.sort_index(ascending=False)
sdf

In [ ]:
t2_df = a1gdf.groupby(['code'])
t3_df = t2_df['rate'].agg({'sh_rate': np.sum})
t4_df = t3_df.reset_index()
t4_df

In [ ]:
#获得最近报告中个人持股比例
hdf = pd.read_sql_query("select code,report_date,holder_type,holder_name,rate\
                            from stock_holder order by report_date desc", db.engine)
gdf = hdf.groupby(['code']).head(10)
a1gdf = gdf[gdf['holder_type']!='自然人股']
a1gdf.head()

In [ ]:
a1gdf = gdf[gdf['holder_type']=='自然人股']
#agdf = gdf['rate'].agg({'sum': np.sum})
a1gdf = a1gdf.groupby(['code'])
a2gdf = a1gdf['rate'].agg({'sum': np.sum})
a3df = a2gdf.sort_index(by='sum',ascending=False).head(500)

In [ ]:
a1gdf = gdf[gdf['holder_type']=='自然人股']
#agdf = gdf['rate'].agg({'sum': np.sum})
a1gdf = a1gdf.groupby(['code'])
a2gdf = a1gdf['rate'].agg({'size': np.size})
a4df = a2gdf.sort_index(by='size',ascending=False).head(500)

In [ ]:
a5df = pd.concat([a3df, a4df], axis=1, join='inner')
a5df.sort_index(by='sum',ascending=False).head(20)

In [ ]:
code = '000001'
#获得每家历史个人持股情况
hdf = pd.read_sql_query("select code,report_date,holder_type,rate\
                            from stock_holder where holder_type='自然人股' and code=%(name)s", db.engine,params={'name': code})
gdf = hdf.groupby(['report_date'])
agdf = gdf['rate'].agg({'sum': np.sum})
agdf

In [6]:
gdf = dts.getLatestStockHolder()
agdf = gdf[gdf['holder_type'] == '自然人股']
a1gdf = agdf.groupby(['code'])

t2_gdf = a1gdf['rate'].agg({'sum': np.sum}) #比例
t3_gdf = a1gdf['rate'].agg({'size': np.size}) #个数

t4_df = pd.concat([t2_gdf, t3_gdf], axis=1, join='inner')

t4_df

          sum  size
code
000001   0.91     1
000004   2.63     3
000005   1.55     5
000006   2.17     4
000007   6.17     6
000008  28.19     8
000009   2.06     4
000010   2.17     6
000011   1.21     7
000014   2.79     5
000016   0.97     1
000017   2.59     4
000018   0.39     1
000019   1.81     5
000020   1.92     6
000023   2.63     3
000025   0.65     5
000026   1.06     3
000027   0.18     1
000029   0.89     5
000031   0.21     1
000032   1.71     2
000033   3.52     3
000034   0.98     3
000035   0.86     2
000036   1.39     3
000037   2.76     4
000038   0.91     3
000040   4.97     5
000042   1.85     3
...       ...   ...
603778   2.01     8
603788   0.97     3
603789   0.96     8
603799   0.52     1
603800   1.27     9
603806   0.69     4
603808   1.13     4
603818   0.98     6
603828   5.60     6
603838   1.74     9
603861   0.29     9
603866   0.32     8
603883   0.17     1
603889  11.35     9
603898   2.82     1
603899   0.28     1
603901   1.30     6
603918   0.35     2
603919   0.38     6
603936   0.75     8
603968   0.97     5
603969   1.81     6
603979   0.69     9
603988   3.17     8
603989   1.09     6
603993   0.14     2
603996   0.98     8
603997   0.95     8
603998  18.65     8
603999   0.15     1

[2328 rows x 2 columns]

In [13]:
t4_df = pd.concat([t2_gdf, t3_gdf], axis=1, join='inner')
t41_df = pd.DataFrame({
        'code':t4_df.index,
        'sum':t4_df['sum'],
        'count':t4_df['size'],
        'avg':t4_df['sum']/t4_df['size']
    })

t5_df = t41_df.sort_index(by='avg', ascending=True).head(10)

t5_df.head(10)

             avg    code  count   sum
code
300484  0.007143  300484      7  0.05
600606  0.014000  600606      5  0.07
603355  0.032000  603355      5  0.16
603861  0.032222  603861      9  0.29
603025  0.040000  603025      5  0.20
601800  0.040000  601800      1  0.04
603866  0.040000  603866      8  0.32
300433  0.044000  300433      5  0.22
603589  0.045000  603589      4  0.18
600959  0.046667  600959      6  0.28

In [14]:
t6_df = t5_df.reset_index()
t6_df.head()

ValueError: cannot insert code, already exists

In [5]:
t6_df = t5_df.reset_index()
bdf = pd.read_sql_query("select * from stock_basic sb ",db.engine)
t7_df = pd.merge(t6_df, bdf, on='code')
t7_df

,code,sum,size,id,name,zgb,ltgb,launch_date,latest_report,grow_type,desc,created_time
0,601519,65.43,8,2653,大智慧,1987700000,1987700000,2011-01-28,2016-03-31,,None,2016-07-19 22:21:24
1,603333,64.39,6,2790,明星电缆,520005000,520005000,2012-05-07,2016-03-31,,None,2016-07-19 22:21:24
2,002451,62.40,7,917,摩恩电气,439200000,412202550,2010-07-20,2016-03-31,,None,2016-07-19 22:20:54
3,300121,61.31,6,1380,阳谷华泰,289220000,269459152,2010-09-17,2016-03-31,,None,2016-07-19 22:20:54
4,002093,58.73,8,560,国脉科技,865000000,852874858,2006-12-15,2016-03-31,,None,2016-07-19 22:20:54
5,601799,58.64,2,2688,星宇股份,239650000,239650000,2011-02-01,2016-06-30,,None,2016-07-19 22:21:24
6,601700,58.00,7,2679,风范股份,1133247000,1122690800,2011-01-18,2016-03-31,,None,2016-07-19 22:21:24
7,601677,56.79,10,2674,明泰铝业,482756000,407702400,2011-09-19,2016-03-31,,None,2016-07-19 22:21:24
8,002696,54.89,3,1161,百洋股份,176000000,103769754,2012-09-05,2016-03-31,,None,2016-07-19 22:20:54
9,002016,54.24,4,483,世荣兆业,809095632,646095632,2004-07-08,2016-03-31,,None,2016-07-19 22:20:54

In [ ]:

dt = pd.to_datetime('2000-06-30')

sdate = dt - DateOffset(days=1) + QuarterEnd() #返回所在日期的季度数据
mg_val = sdf[sdf.index == sdate].get('jlr_ttm')
mg_val.values[0]

In [ ]:
#获得开始日期
sql = "select max(report_type) from stock_finance_data where code=:code";
resultProxy = db.session.execute(text(sql), {'code': code})
s_date = resultProxy.scalar()
if (s_date == None):
    s_date = dbs.getStock(code).launch_date #取上市日期
    
sd = df.index.max()
ed = (s_date+ DateOffset(days=1)).date().strftime('%Y-%m-%d')

df.loc[sd:ed].reset_index()

In [ ]:
542898*1.0/1004666

In [ ]:
df = pd.read_sql_query(
    "select code,report_type,zyysr,zyysr_ttm,kjlr,jlr,jlr_ttm,jyjxjl,jyjxjl_ttm,xjjze,roe,gdqy \
    from stock_finance_data \
    where code=%(name)s",
    db.engine, params={'name': code})
i = df['report_type'].map(lambda x: pd.to_datetime(x))
df3 = df.set_index(i)
sdf = df3.sort_index(ascending=False)

In [ ]:
def getRevence(x, attri):
    dt = x
    sdate = dt - DateOffset(days=1) + QuarterEnd() #返回所在日期的季度数据
    mg_val = sdf[sdf.index == sdate].get(attri)
    
    return pd.NaT if mg_val.empty else mg_val.values[0] * 10000

In [ ]:
tdf['trade_date']*1000

In [ ]:
df = pd.DataFrame()
for x in periods:
    fb = db.session.query(FinanceBasic).filter_by(code=code, report_type=x).first()
    if (not fb):
        fd = dts.findFinanceData(code, x)
        if not fd.empty:
            df = df.append(fd)
df

In [ ]:
headers = {'User-Agent':'Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US; rv:1.9.1.6) Gecko/20091201 Firefox/3.5.6'}
url = "http://stockdata.stock.hexun.com/2008/zxcwzb.aspx?stockid="+code+"&accountdate="+'2002.03.15'
app.logger.info('query stock(' + code + ') finance data url is:' + url)
req = urllib2.Request(url =url,headers = headers)
feeddata = urllib2.urlopen(req).read()
soup = BeautifulSoup(feeddata, "html5lib")

In [ ]:
#paper_name = soup.html.body.find(id="zaiyaocontent").table.find_all('tr')
paper_name = soup.html.body.find(id="zaiyaocontent").table.tbody.find_all('tr')
paper_name

In [ ]:
#起始日期
code='700000'
sql="select max(trade_date) from stock_trade_basic where code=:code";
resultProxy=db.session.execute(text(sql),{'code':code})
mdate = resultProxy.scalar()
if (mdate==None):
    mdate = datetime(2000, 1, 1)
mdate.year

In [ ]:
#结束日期。当前日期上月最后一天
#sdate = datetime.now() - DateOffset(days=1)
sdate = datetime.now() - MonthEnd()
sdate

In [ ]:
code = 'sz000966'
df = dbs.getStockValuationN(code[2:],3)
df

In [ ]:
flag = '1'
df = pd.read_sql_query("select code,name,market from my_stocks where flag=%(flag)s", db.engine, \
                           index_col='code', params={'flag': flag})
df1 = dbs.getPerStockPrice(df)
df2 = dbs.getPerStockRevenue()
df3 = pd.concat([df1,df2],axis=1,join='inner')
df = df.reset_index()
df4 = pd.merge(df,df3,how='left')
df4

In [ ]:
df = pd.read_sql_query("select * from my_stocks where flag=%(flag)s", db.engine, \
                           index_col='code', params={'flag': flag})

In [ ]:
df2

In [ ]:
index = pd.date_range('2000-1-1', datetime.today(), freq='Q')
periods = [x.strftime('%Y.%m.%d') for x in index]

df = pd.DataFrame()
for x in periods:
    fb = db.session.query(FinanceBasic).filter_by(code=code,report_type=x).first()
    if(not fb):
        fd = dts.findFinanceData(code, x)
        if not fd.empty:
            df = df.append(fd)



if df.size > 0:
    df.columns = ['code', 'report_type', 'yysr', 'jlr', 'lrze', 'kjlr', 'zzc', 'gdqy', 'jyjxjl', 'mgsy', 'roe',
                  'mgjyxjl', 'mgjzc']
    tpd = pd.DataFrame({
            'mgsy_ttm':'',
            'mgjyxjl_ttm':''
        },index=df.index)

    df1 = pd.concat([df,tpd],axis=1)

    df1.size

    #df = calculateTTMValue(df,code)

df2 = dts.calculateTTMValue(df1,code)
df2

In [ ]:
code = '000418'
df = dbs.get_revenue_df(code)
df

In [ ]:
tdate = df.index[df.index.quarter==4]
df4 = df.iloc[df.index.isin(tdate)]
df4

In [ ]:
df4.to_json(orient="records")

In [ ]:
code = '000910'
yysr = [] #营业收入
jlr = [] #净利润
jyjxjl = [] #经营性净现金流
gdqy = [] #股东权益
df = dbs.get_year_stock_revenue(code)
for index, row in df.iterrows():
    yysr.append(fn.get_data_array(row['report_type'],row['yysr']))
    jlr.append(fn.get_data_array(row['report_type'],row['kjlr']))
    jyjxjl.append(fn.get_data_array(row['report_type'],row['jyjxjl']))
    gdqy.append(fn.get_data_array(row['report_type'],row['gdqy']))
df

In [ ]:
#获得最近5年的时间
latest_date = df3.iat[0,1]
now = pd.to_datetime(latest_date)
#最近
in_df_date = pd.date_range(end=now.strftime('%Y-%m-%d'), periods=4, freq='Q')
df1 = df3.iloc[df3.index.isin(in_df_date)]
#去年同期
now = now - DateOffset(months=12)
in_df_date = pd.date_range(end=now.strftime('%Y-%m-%d'), periods=4, freq='Q')
df2 = df3.iloc[df3.index.isin(in_df_date)]
#前年同期
now = now - DateOffset(months=12)
in_df_date = pd.date_range(end=now.strftime('%Y-%m-%d'), periods=4, freq='Q')
df4 = df3.iloc[df3.index.isin(in_df_date)]

In [ ]:
abc='[]'
import json
json.loads(abc)

In [ ]:
df2

In [ ]:
df4

In [ ]:
import time,datetime
# date to str
#time.strftime("%Y-%m-%d", datetime.date(1972, 10, 16))
datetime.date(1972, 10, 16).strftime("%Y-%m-%d")

In [ ]:
df3

In [ ]:
code='000418'
period='2005.01.31'

#url = "http://stockdata.stock.hexun.com/2008/zxcwzb.aspx?stockid="+code+"&accountdate="+period
url = "http://stockdata.stock.hexun.com/2008/zxcwzb.aspx?stockid=000418&accountdate=2015.09.30"
req = urllib2.Request(url =url,headers = dts.headers)
feeddata = urllib2.urlopen(req).read()
#soup = BeautifulSoup(feeddata, "lxml")
#paper_name = soup.html.body.find(id="zaiyaocontent").table.find_all('tr')
#paper_name

In [ ]:
#计算期望日期
#对应的季度
ts = pd.to_datetime('20130117')
q = 4-ts.quarter

if ts.month < 12:
    y = ts.year -1

month = q*3
year = ts.year
ts
#

In [ ]:
from datetime import datetime
ts2 = datetime(ts.year-1,ts.month,ts.day)
pd.to_datetime(ts2)

In [ ]:
from werkzeug.contrib.cache import SimpleCache
cache = SimpleCache()

In [ ]:
url = "http://stockdata.stock.hexun.com/000418.shtml"
req = urllib2.Request(url =url)
urllib2.urlopen(req).read()
req

In [ ]:
import urllib 
def url_proxies():
    proxylist = (  '211.167.112.14:80',  '210.32.34.115:8080',  '115.47.8.39:80',  '211.151.181.41:80',  '219.239.26.23:80',  )
    for proxy in proxylist:  
        proxies = {'': proxy}  
        opener = urllib.FancyURLopener(proxies)  
        f = opener.open("http://www.dianping.com/shanghai")  
        f.read()

In [ ]:
import urllib2
proxy_support = urllib2.ProxyHandler({'http':'http://210.32.34.115:8080'})
opener = urllib2.build_opener(proxy_support, urllib2.HTTPHandler)
urllib2.install_opener(opener)
content = urllib2.urlopen('http://stockdata.stock.hexun.com/000418.shtml').read()
content

In [ ]:
req = urllib2.Request(url =url,headers = dts.headers)
#feeddata = urllib2.urlopen(req).read()

In [ ]:
b

In [ ]:
b.year

In [ ]:
b.is_year_end

In [ ]:
str = 'sh600309,sh600660'
url = "http://hq.sinajs.cn/list=" + str
req = urllib2.Request(url)
res_data = urllib2.urlopen(req).read()

In [ ]:
res_data

In [ ]:
st_valus = []
q_st_codes = ['sh600309','sh600660']
st_codes = []
for st in q_st_codes:
    regex = r'var hq_str_' + st + '="(.*)".*'
    match = re.search(regex, res_data, re.M).group(1)
    trade_data = match.split(',')
    st_valus.append(round(float(trade_data[3]), 2))
    st_codes.append(st[2:])
ps = pd.DataFrame(st_valus,index=st_codes)  
ps

In [ ]:
df = pd.read_sql_query("select code,report_type,mgsy_ttm,mgjzc,mgjyxjl_ttm from stock_finance_basic", db.engine)
i = df['report_type'].map(lambda x: pd.to_datetime(x))
df = df.set_index(i)
df = df.sort_index(ascending=False)

df = df.groupby([df['code']]).first()
df = df.reset_index()
df.set_index(df['code'])

In [ ]:
df = pd.read_excel('http://www.szse.cn/szseWeb/ShowReport.szse?SHOWTYPE=xlsx&CATALOGID=1110&tab2PAGENUM=1&ENCODE=1&TABKEY=tab2')
#ps = pd.Series('600000')
df

In [ ]:
df = pd.read_excel('SZ_A.xlsx')
df.head(2)

In [ ]:
df = pd.read_excel('SZ_A.xlsx')
#ps = pd.Series('600000')
df1 = pd.DataFrame({
        'code':df.iloc[:,5].apply(lambda x: "%06d"%x),
        'name':df.iloc[:,6],
        'launch_date':df.iloc[:,7],
        'zgb':df.iloc[:,8].apply(lambda x: x.replace(',','')),
        'ltgb':df.iloc[:,9].apply(lambda x: x.replace(',',''))
    })
df1.head(2)
df1.to_sql('stock_basic', db.engine, if_exists='append', index=False, chunksize=1000)

In [ ]:
df = pd.read_excel('SH_A.xlsx')
#ps = pd.Series('600000')
df2 = pd.DataFrame({
        'code':df.iloc[:,2].apply(lambda x: "%06d"%x),
        'name':df.iloc[:,3],
        'launch_date':df.iloc[:,4],
        'zgb':df.iloc[:,5].apply(lambda x: x*10000),
        'ltgb':df.iloc[:,6].apply(lambda x: x*10000)
    })
df2.head(2)
df2.to_sql('stock_basic', db.engine, if_exists='append', index=False, chunksize=1000)

In [ ]:
headers = {'User-Agent':'Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US; rv:1.9.1.6) Gecko/20091201 Firefox/3.5.6'}

code = '000563'
    
period = re.sub('03.31', '03.15', '2016.03.31')
url = "http://vip.stock.finance.sina.com.cn/corp/go.php/vCI_CirculateStockHolder/stockid/"+code+".phtml"
req = urllib2.Request(url =url,headers = headers)
feeddata = urllib2.urlopen(req).read()
soup = BeautifulSoup(feeddata, "html5lib")
#feeddata
paper_name = soup.html.body.find(id="CirculateShareholderTable").tbody.find_all('tr')

In [ ]:
report_date=[]
holder_name=[]
amount=[]
rate=[]
holder_type=[]
holder_parent=[]
rdate = ''
for e in paper_name:
    t = e.find_all('td')
    s = e.find_all('strong')
    if len(s) > 0 :
        if s[0].string=='截止日期':
            rdate = t[1].string
            print rdate
            
    if t[0].div:
        if t[0].div.string:
            if t[0].div.string.isdigit():
                hname = t[1].div.text
                print t[0].div.text+':'+hname

In [ ]:
df1 = pd.DataFrame({
        'code':code,
        'report_date':report_date,
        'holder_name':holder_name,
        'amount':amount,
        'rate':rate,
        'holder_type':holder_type,
        'holder_parent':holder_parent
        
    })
df1.to_sql('stock_holder', db.engine, if_exists='append', index=False, chunksize=1000)
df1

In [ ]:
#st = db.session.query(Stock).filter(Stock.code = code).first()

db.session.query(Stock).filter(Stock.latest_report < '2016-03-31').all()

#st = db.session.query(Stock).filter(Stock.latest_report < report_type).all()

In [ ]:
#参考证券法，年报数据在次年4月底前，1季度报在4月28号前，半年报在8月31号前，3季度报在10月30号前
#更新后更新报告日期，更新数据时提供报告类型，剔除已经获得公告数据的股票

sql = "select max(report_date) from stock_holder where code=:code";
resultProxy = db.session.execute(text(sql), {'code': code})
s_date = resultProxy.scalar()
if (s_date == None):
    
#旧股，通过网络检索比较。如有最新数据则更新。
#最新数据如果和已有数据相等，说明未更新，直接跳过；否则，用最新的一期数据更新。暂未实现

In [ ]:
pow(10,3)

In [ ]:
pow(1000,1.0/3)

In [ ]:
#比如,三年利润复合增长率=[(年末利润总额/三年前年末利润总额）^1/3 -1)] x100% 
#实例：某公司04年净利2万元，07年净利16万元，则04-07年的复合增长为16/2 ，然后再开3次方根，再减1，再乘100％。”