In [1]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-

import os, sys
import os,http
import requests
from flask import Flask, render_template, abort, url_for, session
from flask_sqlalchemy import SQLAlchemy
from flask_script import Manager, Shell
from webapp import app, db, config_app,register_blueprints

reload(sys)
sys.setdefaultencoding('utf8')

manager = Manager(app, with_default_commands=False)

config_app(app, 'scriptfan.cfg')
register_blueprints(app)

ctx = app.app_context()
ctx.push()

from webapp.services import data_service as dts,db_service as dbs,holder_service as hs,xueqiu_service as xues,ntes_service as ns

from bs4 import  BeautifulSoup,BeautifulStoneSoup
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from flask import current_app as app
from webapp.services import db
from webapp.models import MyStock,Stock,Comment,FinanceBasic
import json
from datetime import datetime
import urllib2,re,html5lib
from pandas.tseries.offsets import * 
from webapp import functions as fn
from sqlalchemy import *
from io import StringIO

import matplotlib.pyplot as plt

from webapp.services import getHeaders,getXueqiuHeaders

In [ ]:
mkey = '淡水泉'
sql = "select max(report_date) from stock_holder sh where sh.holder_name like :mkey";
resultProxy = db.session.execute(text(sql), {'mkey': '%'+mkey+'%'})
_max_date = resultProxy.scalar()
if (_max_date == None):
    _max_date = pd.to_datetime('2000-06-30')
_next_date = QuarterEnd().rollback(_max_date - DateOffset(days=1))
#submit_date = QuarterEnd().rollback(_next_date - DateOffset(days=1))

_next_date

In [ ]:
bdf = pd.read_sql_query(
            "select sh.* from stock_holder sh " \
            "where sh.holder_name like %(mkey)s and sh.report_date >= %(mdate)s", db.engine, \
            params={'mkey': '%'+mkey+'%','mdate':_next_date})

In [ ]:
# 获取交易数据
global_tdf = dbs.get_global_trade_data()
# 获取财务数据
global_fdf = dbs.get_global_finance_data()
# 获取财务数据
global_bdf = dbs.get_global_basic_data()

df3 = pd.concat([global_tdf, global_fdf, global_bdf], axis=1, join='inner')
df3[['trade_date']] = df3[['trade_date']].apply(pd.to_datetime, errors='ignore')  # 转换类型


df = df3.reset_index()

In [ ]:
def getValuation(x, attri):
    tcp = df3[df3['trade_date'] == dt].get('t_cap')
    mg_val = df3[df3['trade_date'] == dt].get(attri)
    return 0 if mg_val.empty else round(tcp.values[0]/mg_val.values[0],2)



#df['ps'] = df['trade_date'].apply(getValuation, args=('zyysr_ttm',))
#df['pcf'] = df['trade_date'].apply(getValuation, args=('jyjxjl_ttm',))
#df['pb'] = df['trade_date'].apply(getValuation, args=('gdqy',))
#df['holder_amt'] = round((df['t_cap'] * df['rate']) /(10000 * 10000),2)

In [3]:
df = dbs.get_global_data()

In [5]:
df

,code,trade_date,close,volume,t_cap,m_cap,report_type,zyysr,zyysr_ttm,kf_jlr,...,trade_updated_time,finance_updated_time,flag,desc,grow_type,created_time,pe,pcf,ps,pb
0,600077,2018-02-23,3.48,8.761676e+06,4.663626e+09,4.663626e+09,2017-12-31,274929.0,274929.0,12537.0,...,2018-02-25 12:25:37,2018-02-25 12:25:36,0,None,None,2018-01-14 16:41:05,29.956486,1.696302,579.332384,1.250453
1,600162,2018-02-26,3.20,6.510563e+07,1.088215e+10,7.571367e+09,2017-09-30,268424.0,464457.0,42914.0,...,2018-02-27 14:59:14,2018-02-27 14:59:14,0,None,None,2018-01-14 16:41:05,16.333431,2.342983,15.988347,1.491012
2,000800,2017-11-10,12.19,2.060222e+08,1.983922e+10,1.720928e+10,2017-09-30,1982680.0,2753608.0,26620.0,...,1900-01-01 00:00:00,2018-02-25 12:29:07,0,None,None,2018-01-14 16:41:05,376.884973,0.720481,8.604874,2.483060
3,002235,2017-11-10,11.34,2.601322e+07,4.717174e+09,3.412489e+09,2017-09-30,43710.0,60443.0,4772.0,...,1900-01-01 00:00:00,2018-02-25 12:29:06,0,None,None,2018-01-14 16:41:05,73.890570,7.804335,374.974083,1.934703
4,002382,2017-11-10,0.00,0.000000e+00,6.026187e+09,5.938785e+09,2017-12-31,157595.0,157595.0,19989.0,...,1900-01-01 00:00:00,2018-02-25 12:29:07,0,None,None,2018-01-14 16:41:05,30.001929,3.823844,26.480588,4.225464
5,600159,2018-02-23,3.56,1.745185e+07,2.954812e+09,2.954812e+09,2017-09-30,25058.0,62363.0,-3897.0,...,2018-02-25 15:49:23,2018-02-25 15:49:22,0,None,None,2018-01-14 16:41:05,-69.280457,4.738084,-3.861691,1.370786
6,000615,2017-11-10,11.90,2.678920e+08,9.284982e+09,4.216128e+09,2017-09-30,86424.0,427943.0,-12574.0,...,1900-01-01 00:00:00,2018-02-25 12:29:07,0,None,None,2018-01-14 16:41:05,80.535879,2.169677,11.370154,5.932592
7,002001,2017-11-10,25.88,3.805946e+08,2.818122e+10,2.818122e+10,2017-09-30,409217.0,536607.0,86075.0,...,1900-01-01 00:00:00,2018-02-25 12:29:08,0,None,None,2018-01-14 16:41:05,22.395912,5.251744,23.169251,3.397117
8,000935,2017-11-10,19.83,2.190888e+08,1.513902e+10,1.248274e+10,2017-09-30,185981.0,258172.0,6783.0,...,1900-01-01 00:00:00,2018-02-25 12:29:09,0,None,None,2018-01-14 16:41:05,114.820036,5.863929,28.685429,5.387456
9,300052,2018-03-02,13.70,1.415598e+08,3.576229e+09,3.576229e+09,2017-09-30,22980.0,35428.0,1406.0,...,2018-03-03 19:01:47,2018-03-03 19:01:46,0,None,None,2018-01-14 16:41:05,-91.044522,10.094357,58.732613,4.974861
10,000014,2017-11-10,16.03,1.381403e+07,3.233334e+09,3.233334e+09,2017-09-30,42841.0,87733.0,-509.0,...,1900-01-01 00:00:00,2018-02-25 12:29:09,0,None,None,2018-01-14 16:41:05,63.912515,3.685425,5.022733,4.383409
11,000517,2017-11-10,4.15,3.551001e+07,1.321328e+10,1.320641e+10,2017-09-30,388978.0,487762.0,44040.0,...,1900-01-01 00:00:00,2018-02-25 12:29:09,0,None,None,2018-01-14 16:41:05,21.740232,2.708960,-12.941887,3.179379
12,002610,2017-11-10,2.55,1.825782e+08,1.145170e+10,1.104603e+10,2017-09-30,356780.0,509105.0,4969.0,...,1900-01-01 00:00:00,2018-02-25 12:29:09,0,None,None,2018-01-14 16:41:05,52.458530,2.249378,61.880996,1.987666
13,002117,2017-11-10,24.65,6.256720e+07,8.967118e+09,8.967118e+09,2017-09-30,104367.0,152971.0,15980.0,...,1900-01-01 00:00:00,2018-02-25 12:29:10,0,None,None,2018-01-14 16:41:05,37.927159,5.861973,28.941125,6.186225
14,000897,2017-11-10,4.05,3.274930e+07,6.549953e+09,6.549953e+09,2017-09-30,91892.0,114926.0,-5002.0,...,1900-01-01 00:00:00,2018-02-25 12:29:10,0,None,None,2018-01-14 16:41:05,-122.360406,5.699278,63.456235,5.237699
15,600173,2017-11-10,6.18,2.673655e+07,4.481411e+09,4.480855e+09,2017-09-30,105682.0,158469.0,12149.0,...,1900-01-01 00:00:00,2018-02-25 12:29:11,0,None,None,2018-01-14 16:41:05,18.418525,2.827942,4.387390,2.410774
16,002626,2017-11-10,16.26,1.227820e+08,1.002400e+10,9.759526e+09,2017-09-30,137109.0,183570.0,22727.0,...,1900-01-01 00:00:00,2018-02-25 12:29:10,0,None,None,2018-01-14 16:41:05,29.091320,5.460585,20.812649,4.436849
17,600749,2017-11-10,22.45,1.182801e+07,4.246147e+09,4.246147e+09,2017-09-30,12750.0,13934.0,-1418.0,...,1900-01-01 00:00:00,2018-02-25 12:29:11,0,None,None,2018-01-14 16:41:05,-50.220539,30.473278,503.097933,8.103797
18,600604,2017-11-10,8.49,2.014822e+08,1.590436e+10,8.851079e+09,2017-09-30,58931.0,69616.0,6765.0,...,1900-01-01 00:00:00,2018-02-25 12:29:11,0,None,None,2018-01-14 16:41:05,223.407189,22.845837,-17.655423,2.769660
19,000927,2017-11-10,0.00,0.000000e+00,9.220106e+09,9.220106e+09,2017-09-30,99716.0,155019.0,-112759.0,...,1900-01-01 00:00:00,2018-02-25 12:29:11,0,None,None,2018-01-14 16:41:05,-67.844782,5.947726,-4.765208,16.039151
20,600216,2018-02-23,15.98,2.542087e+08,1.543042e+10,1.512666e+10,2017-09-30,391830.0,522437.0,8109.0,...,2018-02-25 12:23:59,2018-02-25 12:23:58,0,None,None,2018-01-14 16:41:05,87.424452,2.953546,41.131323,2.211361
21,002289,2017-11-10,0.00,0.000000e+00,3.273364e+09,2.939694e+09,2017-09-30,31475.0,58814.0,-7777.0,...,1900-01-01 00:00:00,2018-02-25 12:29:11,0,None,None,2018-01-14 16:41:05,18.654833,5.565620,8.947039,6.213320
22,000798,2017-11-10,8.99,8.746487e+06,2.871900e+09,2.871900e+09,2017-09-30,59434.0,76753.0,7660.0,...,1900-01-01 00:00:00,2018-02-25 12:29:11,0,None,None,2018-01-14 16:41:05,18.784096,3.741744,10.063426,3.656236
23,600246,2017-11-10,4.25,1.211117e+07,8.729540e+09,5.171400e+09,2017-09-30,130282.0,204328.0,11129.0,...,1900-01-01 00:00:00,2018-02-25 12:29:12,0,None,None,2018-01-14 16:41:05,791.436041,4.272317,8.490779,1.301683
24,600729,2017-11-10,25.83,1.286398e+08,1.050063e+10,1.049800e+10,2017-09-30,2425281.0,3263842.0,48241.0,...,1900-01-01 00:00:00,2018-02-25 12:29:12,0,None,None,2018-01-14 16:41:05,20.000439,0.321726,9.534326,2.132324
25,000838,2017-11-10,6.12,2.880302e+07,6.734828e+09,3.877014e+09,2017-12-31,180348.0,180348.0,10851.0,...,1900-01-01 00:00:00,2018-02-25 12:29:12,0,None,None,2018-01-14 16:41:05,34.398225,3.734352,-4.918734,3.778029
26,600791,2017-11-10,8.24,5.701974e+07,3.731731e+09,3.727065e+09,2017-09-30,47432.0,75083.0,6197.0,...,1900-01-01 00:00:00,2018-02-25 12:29:12,0,None,None,2018-01-14 16:41:05,46.264954,4.970141,4.085628,2.342243
27,603898,2017-11-10,28.48,5.562414e+07,9.060009e+09,2.534834e+09,2017-09-30,125162.0,172958.0,20907.0,...,1900-01-01 00:00:00,2018-02-25 12:29:12,0,None,None,2018-01-14 16:41:05,28.149786,5.238271,24.139424,4.713403
28,600569,2017-11-10,4.46,1.801516e+08,1.067583e+10,1.067583e+10,2017-09-30,2006404.0,2516241.0,101105.0,...,1900-01-01 00:00:00,2018-02-25 12:29:13,0,None,None,2018-01-14 16:41:05,11.126338,0.424277,4.058928,1.832660
29,002143,2017-11-10,13.83,1.279824e+08,2.447681e+10,6.305090e+09,2017-09-30,121728.0,204970.0,37333.0,...,1900-01-01 00:00:00,2018-02-25 12:29:12,0,None,None,2018-01-14 16:41:05,32.480701,11.941653,253.016402,9.523456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2310,000971,2017-11-10,0.00,0.000000e+00,8.584285e+09,4.889653e+09,2017-09-30,63699.0,86466.0,11835.0,...,1900-01-01 00:00:00,2018-02-25 12:44:15,0,None,None,2018-01-14 16:42:11,47.882000,9.927931,43.703721,2.351949
2311,600499,2017-11-10,13.78,7.008843e+08,1.944998e+10,1.944998e+10,2017-09-30,394871.0,489386.0,34699.0,...,1900-01-01 00:00:00,2018-02-25 12:44:15,0,None,None,2018-01-14 16:42:11,55.797746,3.974363,-77.173267,4.661167
2312,600570,2017-11-10,56.64,1.963262e+09,3.499249e+10,3.499249e+10,2017-09-30,165058.0,248333.0,17027.0,...,1900-01-01 00:00:00,2018-02-25 12:44:15,0,None,None,2018-01-14 16:42:11,340.426942,14.090953,49.777356,12.640607
2313,002657,2017-11-10,26.78,7.819154e+07,9.040304e+09,8.173426e+09,2017-09-30,73443.0,126560.0,7394.0,...,1900-01-01 00:00:00,2018-02-25 12:44:16,0,None,None,2018-01-14 16:42:11,50.544021,7.143097,41.965944,3.143382
2314,601313,2017-11-10,12.87,2.932738e+06,5.111738e+09,5.111738e+09,2017-12-31,218452.0,218452.0,5970.0,...,1900-01-01 00:00:00,2018-02-25 12:44:21,0,None,None,2018-01-14 16:42:11,75.040194,2.339982,8379.898428,3.015508
2315,002177,2017-11-10,5.52,2.566117e+07,4.201776e+09,4.201776e+09,2017-09-30,39071.0,56818.0,-1459.0,...,1900-01-01 00:00:00,2018-02-25 12:44:16,0,None,None,2018-01-14 16:42:11,1795.630745,7.395149,15.782504,2.487126
2316,000807,2017-11-10,10.68,8.550272e+08,2.784104e+10,1.839117e+10,2017-09-30,1640343.0,2084880.0,42433.0,...,1900-01-01 00:00:00,2018-02-25 12:44:17,0,None,None,2018-01-14 16:42:11,78.986151,1.335378,146.185552,2.879478
2317,600038,2017-11-10,45.10,3.990990e+08,2.658540e+10,2.658540e+10,2017-09-30,780068.0,1206538.0,27124.0,...,1900-01-01 00:00:00,2018-02-25 12:44:18,0,None,None,2018-01-14 16:42:11,65.339658,2.203445,25.334629,3.786625
2318,600530,2017-11-10,7.37,3.181736e+08,5.748600e+09,5.748600e+09,2017-09-30,19728.0,25362.0,1292.0,...,1900-01-01 00:00:00,2018-02-25 12:44:18,0,None,None,2018-01-14 16:42:11,60.050141,22.666194,-501.623037,3.518976
2319,002152,2017-11-10,7.02,1.347893e+08,1.705078e+10,1.416314e+10,2017-09-30,243295.0,425743.0,20637.0,...,1900-01-01 00:00:00,2018-02-25 12:44:18,0,None,None,2018-01-14 16:42:11,17.135943,4.004946,17.313247,2.004382
2320,002339,2017-11-10,10.53,4.393696e+07,4.145619e+09,3.989775e+09,2017-09-30,86343.0,138186.0,3027.0,...,1900-01-01 00:00:00,2018-02-25 12:44:20,0,None,None,2018-01-14 16:42:11,127.636049,3.000028,249.736077,2.429952
2321,600917,2017-11-10,9.27,1.749740e+07,1.442412e+10,1.442412e+10,2017-09-30,411391.0,564379.0,29079.0,...,1900-01-01 00:00:00,2018-02-25 12:44:19,0,None,None,2018-01-14 16:42:11,36.378613,2.555751,38.874838,3.841771
2322,600985,2017-11-10,0.00,0.000000e+00,3.709932e+09,3.248885e+09,2017-09-30,66792.0,90900.0,7274.0,...,1900-01-01 00:00:00,2018-02-25 12:44:22,0,None,None,2018-01-14 16:42:11,45.677570,4.081334,14.703282,2.181492
2323,600421,2017-11-10,13.36,1.221057e+07,2.613216e+09,2.613216e+09,2017-09-30,2524.0,3309.0,-229.0,...,1900-01-01 00:00:00,2018-02-25 12:44:22,0,None,None,2018-01-14 16:42:11,1375.376842,78.972983,1802.217931,398.964275
2324,600289,2017-11-10,0.00,0.000000e+00,7.313893e+09,6.559044e+09,2017-09-30,86804.0,137317.0,-6276.0,...,1900-01-01 00:00:00,2018-02-25 12:44:23,0,None,None,2018-01-14 16:42:11,149.997815,5.326284,-50.184531,2.338927
2325,000526,2017-11-10,0.00,0.000000e+00,3.528437e+09,3.528437e+09,2017-09-30,228391.0,277167.0,5607.0,...,1900-01-01 00:00:00,2018-02-25 12:44:23,0,None,None,2018-01-14 16:42:11,6415.339136,1.273036,9.455306,33.836177
2326,600074,2017-11-10,0.00,0.000000e+00,2.532964e+10,1.066069e+10,2017-09-30,296103.0,421997.0,37440.0,...,1900-01-01 00:00:00,2018-02-25 12:44:24,0,None,None,2018-01-14 16:42:11,43.139975,6.002326,-23.934042,5.275480
2327,002293,2017-11-10,12.79,8.156898e+07,9.015741e+09,8.976220e+09,2017-09-30,318267.0,417963.0,29980.0,...,1900-01-01 00:00:00,2018-02-25 12:44:24,0,None,None,2018-01-14 16:42:11,24.474689,2.157067,29.579204,3.119720
2328,002587,2017-11-10,7.38,2.825173e+07,4.512027e+09,4.132068e+09,2017-09-30,65557.0,83273.0,7561.0,...,1900-01-01 00:00:00,2018-02-25 12:44:25,0,None,None,2018-01-14 16:42:11,39.589607,5.418356,61.080648,4.146208
2329,600797,2017-11-10,14.06,3.935576e+08,1.484719e+10,1.168030e+10,2017-09-30,206527.0,369144.0,3996.0,...,1900-01-01 00:00:00,2018-02-25 12:44:25,0,None,None,2018-01-14 16:42:11,50.678199,4.022060,-112.829181,3.439868
2330,002389,2017-11-10,24.82,2.481456e+08,1.759358e+10,1.332849e+10,2017-09-30,104206.0,138889.0,7609.0,...,1900-01-01 00:00:00,2018-02-25 12:44:25,0,None,None,2018-01-14 16:42:11,170.002706,12.667368,222.057050,5.023579
2331,603009,2017-11-10,12.90,4.205694e+07,4.233185e+09,4.136580e+09,2017-09-30,64710.0,86733.0,3209.0,...,1900-01-01 00:00:00,2018-02-25 12:44:32,0,None,None,2018-01-14 16:42:11,73.454541,4.880709,122.772193,3.205623
2332,000636,2017-11-10,11.26,9.324553e+08,1.008032e+10,9.149371e+09,2017-09-30,229104.0,314966.0,14316.0,...,1900-01-01 00:00:00,2018-02-25 12:44:26,0,None,None,2018-01-14 16:42:11,47.839803,3.200449,45.378252,2.200733
2333,002131,2017-11-10,3.08,9.066305e+07,1.727149e+10,1.357549e+10,2017-09-30,774338.0,1007575.0,41020.0,...,1900-01-01 00:00:00,2018-02-25 12:44:26,0,None,None,2018-01-14 16:42:11,29.740992,1.714164,-72.398919,2.250500
2334,002711,2017-11-10,13.17,2.091882e+08,1.390845e+10,1.390845e+10,2017-09-30,485545.0,589832.0,14767.0,...,1900-01-01 00:00:00,2018-02-25 12:44:26,0,None,None,2018-01-14 16:42:11,40.616906,2.358035,-56.136774,8.082312
2335,002655,2017-11-10,8.49,4.657299e+07,3.056400e+09,3.056400e+09,2017-09-30,58419.0,78819.0,-202.0,...,1900-01-01 00:00:00,2018-02-25 12:44:27,0,None,None,2018-01-14 16:42:11,306.867470,3.877745,120.758593,4.712957
2336,002063,2017-11-10,11.19,6.373248e+07,6.744264e+09,6.617312e+09,2017-09-30,80813.0,114910.0,11484.0,...,1900-01-01 00:00:00,2018-02-25 12:44:28,0,None,None,2018-01-14 16:42:11,41.505717,5.869171,63.523254,3.552904
2337,002537,2017-11-10,10.72,2.131943e+07,1.341447e+10,1.080841e+10,2017-09-30,258595.0,358523.0,25737.0,...,1900-01-01 00:00:00,2018-02-25 12:44:27,0,None,None,2018-01-14 16:42:11,32.076693,3.741593,-164.352769,1.961688
2338,002396,2017-11-10,25.45,7.740896e+08,1.484448e+10,1.359291e+10,2017-09-30,460635.0,695776.0,24519.0,...,1900-01-01 00:00:00,2018-02-25 12:44:32,0,None,None,2018-01-14 16:42:11,35.813851,2.133515,79.141030,4.938071
2339,600760,2017-11-10,30.91,2.680560e+08,1.066211e+10,1.066211e+10,2017-09-30,80474.0,110825.0,-4232.0,...,1900-01-01 00:00:00,2018-02-25 12:44:36,0,None,None,2018-01-14 16:42:11,1807.136857,9.620670,104.438314,26.656601

In [ ]:
#dt = pd.to_datetime('2017-11-10')
df3[(df3['trade_date'] == '2017-11-10')& (df3['code']=='000004')]

In [ ]:
df3[['trade_date']] = df3[['trade_date']].apply(pd.to_datetime, errors='ignore')

In [ ]:
# 获取交易数据
    global_tdf = dbs.get_global_trade_data()
    # 获取财务数据
    global_fdf = dbs.get_global_finance_data()

    global_bdf = dbs.get_global_basic_data()

    df3 = pd.concat([global_tdf, global_fdf,global_bdf], axis=1, join='inner')
    #转换类型
    df3[['trade_date']] = df3[['trade_date']].apply(pd.to_datetime, errors='ignore')
    df = df3.reset_index()

In [ ]:
def getValuation(x, attri):
        tcp = df[df['trade_date'] == x].get('t_cap')
        mg_val = df[df['trade_date'] == x].get(attri)*10000
        return 0 if mg_val.empty else round(tcp.values[0] / mg_val.values[0], 2)

    #df['pe'] = df['trade_date'].apply(getValuation, args=('jlr_ttm',))
    #df['ps'] = df['trade_date'].apply(getValuation, args=('zyysr_ttm',))
    #df['pcf'] = df['trade_date'].apply(getValuation, args=('jyjxjl_ttm',))
    df['pb'] = df['trade_date'].apply(getValuation, args=('gdqy',))

    #df = pd.merge(bdf, df, how='left', on='code')
    #df['holder_amt'] = df['t_cap'] * df['rate']

In [ ]:
df['pb']

In [ ]:
df = dbs.get_global_basic_data()

In [ ]:
df2[df2['code']=='601828']

In [ ]:
cast('12.22' as decimal(16, 2))

In [ ]:
round(float('12.22'), 2)

In [ ]:
3810*20